{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        tr:nth-child(even){
            background-color: #d0d0d0;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">

        <div id="dashboard-top-spacer">&nbsp;</div>
        
        <div class="row">
            
            <h1>Five most recent users</h1>

            <table class="UserTable" border="1">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Point Balance</th>
                        <th>Tier</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            {% if location_list[loop.index0] %}
                                <td><a href="#myModal" data-toggle="modal" data-location="{{ location_list[loop.index0].0 }}">{{ user.3 }}</a>
                                </td>
                            {% else %}
                                <td>{{ user.3 }}</td>
                            {% endif %}

                            <td>{{ user.11 }}</td>
                            <td>{{ user.7 }}</td>

                            {% set outer_loop = loop %}

                            {% if phones_list[outer_loop.index0] %}
                                {% for phone in phones_list[outer_loop.index0] %}
                                    {% if loop.index0 >= 1 %}
                                        </tr>
                                        <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ phone.0 }}</td>
                                    {% else %}
                                        <td>{{ phone.0 }}</td>
                                    {% endif %}      
                                {% endfor %}      
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);  // Button that triggered the modal
            var locationData = button.data('location');  // Extract value from data-location attributes
            $(this).find('.modal-body').text(locationData);
        });
    });
    </script>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Location</h4>
                </div>
                <div class="modal-body">
                    <p class="text-warning"><small>NULL</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
